body {
    background-color: #edc7b7;
    margin: 0;
}


.header {
    width: 100%;
    overflow: hidden;
    background-color: #eee2dc;
    padding: 20px 10px;
}

.header-right {
    padding-right: 20px;
    float: right;
}

.header a {
    float: left;
    text-align: center;
    text-decoration: none;
    line-height: 50px;
    padding: 12px;
}

.camagru {
    font-family: cursive;
    color: #ac3b61;
    font-size: 50px;
    font-weight: bold;
}

.info {
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: #123c69;
}

.camera {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    width: 700px;
    margin: 0 auto;
}

form {
    padding: 25px;
}

#video {
    position : absolute;
    border: 5px solid #bab2b5;
    border-radius: 10px;
}

#canvas {
    border: 5px solid #bab2b5;
    border-radius: 10px;
    z-index: 1;
    position: absolute;
}

#canvas2 {
    border: 5px solid #bab2b5;
    border-radius: 10px;
    position: relative;
}

#snap {
    padding-left: 300px;
    display: block;
    border: 0;
    width: 80px;
    height: 50px;
}

 .btn {
     display: block;
     font-size: 100%;
     width: 80px;
     margin-left: 300px;
     margin-top: 10px;
     background-color: #eee2dc;
     color: #123c69;
 }

#upload {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    align-content: space-around;
    width: 700px;
    margin: 0 auto;
}
.label {
    font-weight: bold;
    font-size: 100%;
    color: #123c69;
    font-family: 'Courier New', Courier, monospace;
}
.btn2 {
    font-size: 100%;
    width: 80px;
}
.filter{
    padding: 2%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 700px;
    margin: 0 auto;
}

.stickers{
    height: 100px; 
}

@media only screen and (max-width: 900px) {
    .header a {
        float: none;
        display: block;
        text-align: center;
        line-height: 30px;
        padding: 7.2px;
    }
    .camagru {
        float: none;
        font-size: 30px;
    }
    .info {
        float: none;
        font-size: 12px;
    }
    .header-right {
        float: none;
    }
}